src/main/resources/eboxServices/Schemas/ejustice-eJustBox-schema-core-1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 sp1 (x64) (http://www.altova.com) by ﻿Smals vzw - Site SC (Smals vzw - Site SC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="urn:be:fgov:ejustice:commons:core:v1" xmlns:ejustboxc="urn:be:fgov:ejustice:ejustbox:core:v1" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="urn:be:fgov:ejustice:ejustbox:core:v1" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="urn:be:fgov:ejustice:commons:core:v1" schemaLocation="ejustice-commons/XSD/ejustice-commons-schema-core-1_0.xsd"/>
	<xs:simpleType name="INSSType">
		<xs:annotation>
			<xs:documentation>Social Security Number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="11" fixed="true"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageIdType">
		<xs:annotation>
			<xs:documentation>Unique number generated by the system</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="13" fixed="true"/>
			<xs:pattern value="[a-zA-Z0-9]{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OoOIdType">
		<xs:annotation>
			<xs:documentation>Unique number generated by the system</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicationIdType">
		<xs:annotation>
			<xs:documentation>Unique number specified by the user</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation>Specifies content of a Error notification</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="xs:string"/>
			<xs:element name="Message" type="xs:string" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>English plain text explanation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="Destination" type="ejustboxc:EJustboxIdentifierType" maxOccurs="unbounded"/>
				<xs:element name="Failure" type="xs:string" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>General purpose element</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="PublicationId" type="xs:string">
			<xs:annotation>
				<xs:documentation>
          Unique number identifying the message in error.
        </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AcknowledgmentType">
		<xs:annotation>
			<xs:documentation>Specifies content of a Acknowledgment notification</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MessageId" type="ejustboxc:MessageIdType"/>
			<xs:element name="Recipient" type="ejustboxc:EJustboxIdentifierType" minOccurs="0"/>
			<xs:element name="AckType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PUBLISHED"/>
						<xs:enumeration value="RECEIVED"/>
						<xs:enumeration value="READ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DateTime" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentifierType">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="Type" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EJustboxIdentifierType">
		<xs:annotation>
			<xs:documentation>Recipient of a message</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ejustboxc:IdentifierType">
				<xs:sequence>
					<xs:element name="Quality" type="xs:string"/>
					<xs:element name="User" minOccurs="0">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="ejustboxc:INSSType">
									<xs:attribute name="FirstName" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="LastName" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EJustboxSubstituteType">
		<xs:annotation>
			<xs:documentation>Recipient of a message</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ejustboxc:IdentifierType">
				<xs:sequence>
					<xs:element name="Quality" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MetaType">
		<xs:annotation>
			<xs:documentation>Meta defined by the system</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Value" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomMetaType">
		<xs:annotation>
			<xs:documentation>Meta specified by the user</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Key">
				<xs:annotation>
					<xs:documentation>Limited to 250 characters</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Value">
				<xs:annotation>
					<xs:documentation>Limited to 250 characters</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContentInfoType">
		<xs:annotation>
			<xs:documentation>Info about the message content, without transmitting everything</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EncryptableINSSPerson" type="xs:base64Binary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If IsEncrypted == True, this MUST contain encrypted content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MimeType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HasAnnex" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContentSpecificationType">
		<xs:annotation>
			<xs:documentation>ContentSpecification for consultation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ApplicationName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the name of the sending application</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DOCUMENT"/>
						<xs:enumeration value="NEWS"/>
						<xs:enumeration value="ACKNOWLEDGMENT"/>
						<xs:enumeration value="ERROR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsImportant" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>V1 "HasPriority"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsEncrypted" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>Indicates whether the "Encryptable" items ALL contain encrypted content</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageInfoType">
		<xs:annotation>
			<xs:documentation>Short message details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PublicationDate" type="xs:date"/>
			<xs:element name="ExpirationDate" type="xs:date"/>
			<xs:element name="Size" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActorType">
		<xs:annotation>
			<xs:documentation>The sender of a message</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ejustboxc:IdentifierType">
				<xs:sequence>
					<xs:element name="Quality" type="xs:string"/>
					<xs:element name="Name" type="xs:string"/>
					<xs:element name="FirstName" type="xs:string" minOccurs="0"/>
					<xs:element name="PersonInOrganisation" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>If the message was sent by an organisation, the organisation name will be stored in "Name" above and the INSS of the person really sending the message will be stored in "PersonInOrganisation" for
                information.
              </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
