src/main/resources/eboxServices/Schemas/ejustice-eJustBox-consultation-schema-protocol-1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="urn:be:fgov:ejustice:commons:core:v1"
           xmlns:consultp="urn:be:fgov:ejustice:ejustbox:consultation:protocol:v1"
           xmlns:protocol="urn:be:fgov:ejustice:commons:protocol:v1"
           xmlns:ejustboxc="urn:be:fgov:ejustice:ejustbox:core:v1" xmlns:swaref="http://ws-i.org/profiles/basic/1.1/xsd"
           targetNamespace="urn:be:fgov:ejustice:ejustbox:consultation:protocol:v1" elementFormDefault="unqualified"
           attributeFormDefault="unqualified" version="1.0">
  <xs:import namespace="urn:be:fgov:ejustice:commons:protocol:v1"
             schemaLocation="ejustice-commons/XSD/ejustice-commons-schema-protocol-1_0.xsd"/>
  <xs:import namespace="urn:be:fgov:ejustice:commons:core:v1"
             schemaLocation="ejustice-commons/XSD/ejustice-commons-schema-core-1_0.xsd"/>
  <xs:import namespace="urn:be:fgov:ejustice:ejustbox:core:v1" schemaLocation="ejustice-eJustBox-schema-core-1_0.xsd"/>
  <xs:import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="swaref-3_0.xsd"/>
  <!-- | Request Elements. -->
  <xs:element name="GetBoxInfoRequest" type="consultp:GetBoxInfoRequestType"/>
  <xs:element name="GetMessagesListRequest" type="consultp:GetMessagesListRequestType"/>
  <xs:element name="GetAllejustboxesMessagesListRequest" type="consultp:GetAllejustboxesMessagesListRequestType"/>
  <xs:element name="GetFullMessageRequest" type="consultp:MessageRequestType"/>
  <xs:element name="MoveMessageRequest" type="consultp:MoveMessageRequestType"/>
  <xs:element name="DeleteMessageRequest" type="consultp:DeleteMessageRequestType"/>
  <xs:element name="GetHistoryRequest" type="consultp:MessageRequestType"/>
  <xs:element name="GetMessageAcknowledgmentsStatusRequest" type="consultp:GetMessageAcknowledgmentsStatusRequestType"/>
  <xs:element name="InsertOoORequest" type="consultp:InsertOoORequestType"/>
  <xs:element name="DeleteOoORequest" type="consultp:DeleteOoORequestType"/>
  <xs:element name="GetOoOListRequest" type="consultp:GetOoOListRequestType"/>
  <!-- | Response Elements. -->
  <xs:element name="GetBoxInfoResponse" type="consultp:GetBoxInfoResponseType"/>
  <xs:element name="GetMessagesListResponse" type="consultp:GetMessageListResponseType"/>
  <xs:element name="GetAllejustboxesMessagesListResponse" type="consultp:GetMessageListResponseType"/>
  <xs:element name="GetFullMessageResponse" type="consultp:GetFullMessageResponseType"/>
  <xs:element name="MoveMessageResponse" type="consultp:MoveMessageResponseType"/>
  <xs:element name="DeleteMessageResponse" type="consultp:DeleteMessageResponseType"/>
  <xs:element name="GetHistoryResponse" type="consultp:GetHistoryResponseType"/>
  <xs:element name="GetMessageAcknowledgmentsStatusResponse"
              type="consultp:GetMessageAcknowledgmentsStatusResponseType"/>
  <xs:element name="InsertOoOResponse" type="consultp:InsertOoOResponseType"/>
  <xs:element name="DeleteOoOResponse" type="consultp:DeleteOoOResponseType"/>
  <xs:element name="GetOoOListResponse" type="consultp:GetOoOListResponseType"/>
  <!-- | Request Types. -->
  <xs:complexType name="GetBoxInfoRequestType">
    <xs:sequence>
      <xs:element name="Actor" type="ejustboxc:ActorType"/>
      <xs:element name="HasNewMessages" type="xs:boolean" default="false" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetMessagesListRequestType">
    <xs:sequence>
      <xs:element name="Actor" type="ejustboxc:ActorType"/>
      <xs:element name="Source" default="INBOX">
        <xs:annotation>
          <xs:documentation>The folder to consult</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INBOX"/>
            <xs:enumeration value="SENTBOX"/>
            <xs:enumeration value="BININBOX"/>
            <xs:enumeration value="BINSENTBOX"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StartIndex" default="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Index of the first message</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="EndIndex" default="100" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Index of the last message</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CustomMeta" type="ejustboxc:CustomMetaType" minOccurs="0" maxOccurs="50"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetAllejustboxesMessagesListRequestType">
    <xs:sequence>
      <xs:element name="Actor" type="ejustboxc:ActorType"/>
      <xs:element name="Source" default="INBOX">
        <xs:annotation>
          <xs:documentation>The folder to consult</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INBOX"/>
            <xs:enumeration value="SENTBOX"/>
            <xs:enumeration value="BININBOX"/>
            <xs:enumeration value="BINSENTBOX"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StartIndex" default="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Index of the first message</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="EndIndex" default="100" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Index of the last message</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageRequestType">
    <xs:sequence>
      <xs:element name="Actor" type="ejustboxc:ActorType"/>
      <xs:element name="Source" default="INBOX">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INBOX"/>
            <xs:enumeration value="SENTBOX"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MessageId" type="ejustboxc:MessageIdType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MoveMessageRequestType">
    <xs:sequence>
      <xs:element name="Actor" type="ejustboxc:ActorType"/>
      <xs:element name="Source">
        <xs:annotation>
          <xs:documentation>User specifies where the message must be moved from</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INBOX"/>
            <xs:enumeration value="SENTBOX"/>
            <xs:enumeration value="BININBOX"/>
            <xs:enumeration value="BINSENTBOX"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Destination">
        <xs:annotation>
          <xs:documentation>User specifies where the message must be placed</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INBOX"/>
            <xs:enumeration value="SENTBOX"/>
            <xs:enumeration value="BININBOX"/>
            <xs:enumeration value="BINSENTBOX"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MessageId" type="ejustboxc:MessageIdType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>User can specify many messageId's</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteMessageRequestType">
    <xs:sequence>
      <xs:element name="Actor" type="ejustboxc:ActorType"/>
      <xs:element name="Source">
        <xs:annotation>
          <xs:documentation>User specifies where the message must be deleted from</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INBOX"/>
            <xs:enumeration value="SENTBOX"/>
            <xs:enumeration value="BININBOX"/>
            <xs:enumeration value="BINSENTBOX"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MessageId" type="ejustboxc:MessageIdType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>User can specify many messageId's</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetMessageAcknowledgmentsStatusRequestType">
    <xs:sequence>
      <xs:element name="Actor" type="ejustboxc:ActorType"/>
      <xs:element name="MessageId" type="ejustboxc:MessageIdType"/>
      <xs:element name="StartIndex" default="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Index of the first acknowledgment</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="EndIndex" default="100" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Index of the last acknowledgment</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsertOoORequestType">
    <xs:sequence>
      <xs:element name="Actor" type="ejustboxc:ActorType"/>
      <xs:element name="StartDate" type="xs:date"/>
      <xs:element name="EndDate" type="xs:date"/>
      <xs:element name="Substitute" type="ejustboxc:EJustboxSubstituteType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Recipients</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteOoORequestType">
    <xs:sequence>
      <xs:element name="Actor" type="ejustboxc:ActorType"/>
      <xs:element name="OoOId" type="ejustboxc:OoOIdType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetOoOListRequestType">
    <xs:sequence>
      <xs:element name="Actor" type="ejustboxc:ActorType"/>
    </xs:sequence>
  </xs:complexType>
  <!-- | Response Types. -->
  <xs:complexType name="GetBoxInfoResponseType">
    <xs:complexContent>
      <xs:extension base="protocol:StatusResponseType">
        <xs:sequence minOccurs="0">
          <xs:element name="NbrMessagesInStandBy" type="xs:int"/>
          <xs:element name="NbrUnreadMessages" type="xs:int"/>
          <xs:element name="CurrentSize" type="xs:long"/>
          <xs:element name="MaxSize" type="xs:long"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetMessageListResponseType">
    <xs:complexContent>
      <xs:extension base="protocol:StatusResponseType">
        <xs:sequence minOccurs="0">
          <xs:element name="Source">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="INBOX"/>
                <xs:enumeration value="SENTBOX"/>
                <xs:enumeration value="BININBOX"/>
                <xs:enumeration value="BINSENTBOX"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="Message" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="MessageId" type="ejustboxc:MessageIdType"/>
                <xs:element name="Destination" type="ejustboxc:IdentifierType">
                  <xs:annotation>
                    <xs:documentation>This indicates which of my ejustboxes received the message. This doesn't display all the recipients, only me.</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Sender" type="ejustboxc:ActorType">
                  <xs:annotation>
                    <xs:documentation>The official sender of the message</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="MessageInfo" type="ejustboxc:MessageInfoType">
                  <xs:annotation>
                    <xs:documentation>Short message details</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="ContentInfo" type="ejustboxc:ContentInfoType" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Info about the message content, without transmitting everything</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="ContentSpecification" type="ejustboxc:ContentSpecificationType"/>
                <xs:element name="CustomMeta" type="ejustboxc:CustomMetaType" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation>Meta specified by the user</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetFullMessageResponseType">
    <xs:complexContent>
      <xs:extension base="protocol:StatusResponseType">
        <xs:sequence minOccurs="0">
          <xs:element name="Sender" type="ejustboxc:ActorType">
            <xs:annotation>
              <xs:documentation>The official sender of the message</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Message" type="consultp:ConsultationMessageType"/>
          <xs:element name="MessageInfo" type="ejustboxc:MessageInfoType">
            <xs:annotation>
              <xs:documentation>Short message details</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetHistoryResponseType">
    <xs:complexContent>
      <xs:extension base="protocol:StatusResponseType">
        <xs:sequence minOccurs="0">
          <xs:element name="MessageId" type="ejustboxc:MessageIdType" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MoveMessageResponseType">
    <xs:complexContent>
      <xs:extension base="protocol:StatusResponseType">
        <xs:sequence minOccurs="0">
          <xs:element name="MessageId" type="ejustboxc:MessageIdType" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeleteMessageResponseType">
    <xs:complexContent>
      <xs:extension base="protocol:StatusResponseType">
        <xs:sequence minOccurs="0">
          <xs:element name="MessageId" type="ejustboxc:MessageIdType" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetMessageAcknowledgmentsStatusResponseType">
    <xs:complexContent>
      <xs:extension base="protocol:StatusResponseType">
        <xs:sequence minOccurs="0">
          <xs:element name="AcknowledgmentsStatus">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Row" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Recipient" type="ejustboxc:EJustboxIdentifierType"/>
                      <xs:element name="Published" type="xs:dateTime" minOccurs="0"/>
                      <xs:element name="Received" type="xs:dateTime" minOccurs="0"/>
                      <xs:element name="Read" type="xs:dateTime" minOccurs="0"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InsertOoOResponseType">
    <xs:complexContent>
      <xs:extension base="protocol:StatusResponseType">
        <xs:sequence minOccurs="0">
          <xs:element name="OoOId" type="ejustboxc:OoOIdType" minOccurs="0"/>
          <xs:element name="Substitute" type="consultp:SubstituteType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Recipients</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeleteOoOResponseType">
    <xs:complexContent>
      <xs:extension base="protocol:StatusResponseType">
        <xs:sequence minOccurs="0">
          <xs:element name="OoOId" type="ejustboxc:OoOIdType" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetOoOListResponseType">
    <xs:complexContent>
      <xs:extension base="protocol:StatusResponseType">
        <xs:sequence minOccurs="0">
          <xs:element name="OoO" maxOccurs="unbounded">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="OoOId" type="ejustboxc:OoOIdType"/>
                <xs:element name="StartDate" type="xs:date"/>
                <xs:element name="EndDate" type="xs:date"/>
                <xs:element name="Substitute" type="ejustboxc:EJustboxSubstituteType" minOccurs="0"
                            maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation>Recipients</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubstituteType">
    <xs:complexContent>
      <xs:extension base="ejustboxc:EJustboxSubstituteType">
        <xs:sequence>
          <xs:element name="AbsentFrom" type="xs:date" minOccurs="0"/>
          <xs:element name="AbsentTo" type="xs:date" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--<xs:complexType name="DestinationContextType">
		<xs:complexContent>
			<xs:extension base="core:IdentifierType"/>
		</xs:complexContent>
	</xs:complexType>-->
  <xs:complexType name="ConsultationContentType">
    <xs:annotation>
      <xs:documentation>Contains all elements relative to the content of the message</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Document" type="consultp:ConsultationDocumentType"/>
      <xs:element name="EncryptableINSSPerson" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Annex" type="consultp:ConsultationAnnexType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Acknowledgment" type="ejustboxc:AcknowledgmentType" minOccurs="0"/>
      <xs:element name="Error" type="ejustboxc:ErrorType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContentContextType">
    <xs:sequence>
      <xs:element name="Content" type="consultp:ConsultationContentType"/>
      <xs:element name="ContentSpecification" type="ejustboxc:ContentSpecificationType"/>
      <xs:element name="CustomMeta" type="ejustboxc:CustomMetaType" minOccurs="0" maxOccurs="50"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultationAnnexType">
    <xs:annotation>
      <xs:documentation>Specifies content of an Annex</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EncryptableTitle" type="xs:base64Binary">
        <xs:annotation>
          <xs:documentation>If IsEncrypted == True, this MUST contain encrypted content.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EncryptableContent" type="swaref:swaRef">
        <xs:annotation>
          <xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DownloadFileName">
        <xs:annotation>
          <xs:documentation>This is not encrypted</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MimeType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultationDocumentType">
    <xs:annotation>
      <xs:documentation>Specifies content of a Document message</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Title">
        <xs:annotation>
          <xs:documentation>This is not encrypted</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="400"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="EncryptableContent">
        <xs:annotation>
          <xs:documentation>If IsEncrypted == True, this MUST contain encrypted content. Anyway it must be converted to base64Binary</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:base64Binary">
            <xs:maxLength value="1000000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultationMessageType">
    <xs:annotation>
      <xs:documentation>Get a message with it's content</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PublicationId" type="ejustboxc:PublicationIdType" minOccurs="0"/>
      <xs:element name="DestinationContext" type="ejustboxc:EJustboxIdentifierType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Recipients</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContentContext" type="consultp:ContentContextType">
        <xs:annotation>
          <xs:documentation>Message content and details, as well as some free Meta’s</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Meta" type="ejustboxc:MetaType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>System Meta's defined by eHealth</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="MessageId" type="ejustboxc:MessageIdType"/>
  </xs:complexType>
</xs:schema>
